body {
    --color-text: #2D4F8F;
    --color-accent: #ffa670;

    &.home, &.test {
        background-color: antiquewhite;

        a {
            text-decoration: none;

            #jedini {
                color: var(--color-text);
                width: 100px;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                text-decoration: none;
                border-radius: 100%;
                background-color: var(--color-accent);
                position: absolute;
                left: calc(50% - 50px);
                transition: all 500ms ease-in-out;
            }
        }
    }

    &.test #jedini{
        left: 75% !important;
    }
}